body, html {
    margin: 0 auto;
    border: 0;
    /* background: url("/home/amit/Documents/inkscape/potifoweb.svg"); */
    background-color: #F0F0F0;
}

.clubs {
    position: fixed;
    width: 75%;
    bottom: 10%;
    left: 50%;
    /* bring your own prefixes */
    margin-left: -32%;

}

#ai_tag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 50%;
    left: 10%;
    visibility: hidden;
}

#arvr {
    width: 100%;
}

#code {
    width: 30%;

}
#ai {
    width: 100%;
    

}

#android {
    width: 30%;
}

button {
    text-decoration: none;
    border: none;
    color: #00748cff;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    background-color: white;
    transition: 0.3s;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: white;
    background: #00748cff;
    color: white;
}

button:active {
    box-shadow: none;
}

#aboutus {
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-top: 300px;
    margin-left: -15px;
    font-size: 120%;
    text-decoration: none;
    color: gray;
}

#card:hover {
    box-shadow: 1px 1px 30px 1px;
    transition: 0.3s;
}

#card:active {
    box-shadow: none;
}

#techwarts {
    position: fixed;
    width: 75%;
    left: 50%;
    top: 0px;
    margin-left: -37%;
}

#notfound {
    position: fixed;
    width: 45%;
    left: 50%;
    top: 0px;
    margin-left: -25%;
}
