body, html {
    margin: 0 auto;
    border: 0;
    /* background: url("/home/amit/Documents/inkscape/potifoweb.svg"); */
    background-color: #212F3D;
    overflow-x: hidden;
}

#techwarts {
    position: relative;
    width: 95%;
    left: 50%;
    top: 65px;
    margin-left: -49%;
}


#register {
    width: 140px;
    position: relative;
    /* margin-left: -140px; */
    /* margin-right: 50%; */
    border: none;
    left: 50%;
    top: 10px;
    position: fixed;
    margin-left: -140px;
}

#gallery {
    width: 140px;
    position: relative;
    /* margin-left: 55%; */
    border: none;
    border-left: 50%;
    left: 50%;
    top: 10px;
    position: fixed;
    margin-left: 10px;
}

#aboutus {
    font-size: 120%;
    text-decoration: none;
    color: gray;
    display: none;
}

#aboutusdiv {
    position: fixed;
    bottom: 1%;
    left: 50%;
    margin-top: 300px;
    margin-left: -25px;
}

#user-card {
    width: 21%;
    max-width: 26%;
    display: fixed;
    margin: 10px 10px;
}

#arvr {
    max-width: 100%;
    width: 50%;
}

#code {
    max-width: 100%;
    width: 48%;

}
#ai {
    max-width: 100%;
    width: 50%;
    

}

#android {
    max-width: 100%;
    width: 50%;
}


@media only screen and (min-width: 768px) {
    body, html {
        margin: 0 auto;
        border: 0;
        /* background: url("/home/amit/Documents/inkscape/potifoweb.svg"); */
        background-color: #212F3D;
        min-width: 600px;
        overflow: auto;
    }
    .clubs {
        position: relative;
        width: 75%;
        min-width: 900px;
        top: 350px;
        left: 50%;
        /* bring your own prefixes */
        margin-left: -32%;

    }



    #arvr {
        max-width: 100%;
        width: 100%;
    }

    #code {
        max-width: 100%;
        width: 100%;

    }
    #ai {
        max-width: 100%;
        width: 100%;
        

    }

    #android {
        max-width: 100%;
        width: 100%;
    }

    button {
        text-decoration: none;
        border: none;
        color: #00748cff;
        border-radius: 5px;
        font-size: 18px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: sans-serif;
        background-color: white;
        transition: 0.3s;
        margin-left: 10px;
        margin-right: 10px;
    }

    button:hover {
        background-color: white;
        background: #00748cff;
        color: white;
    }

    button:active {
        box-shadow: none;
    }

    #aboutus {
        font-size: 120%;
        text-decoration: none;
        color: gray;
        display: block;
    }

    #aboutusdiv {
        position: fixed;
        bottom: 1%;
        left: 50%;
        margin-top: 300px;
        margin-left: -25px;
    }

    #user-card:hover {
        box-shadow: 1px 1px 10px 1px;
        transition: 0.3s;
    }

    #user-card:active {
        box-shadow: none;
    }

    #techwarts {
        position: fixed;
        width: 75%;
        min-width: 1000px;
        max-width: 1500px;
        left: 50%;
        top: 55px;
        margin-left: -37%;
    }

    #user-card {
        max-width: 21%;  margin: 10px 10px;
    }

    /* #notfound {
        position: fixed;
        width: 45%;
        left: 50%;
        top: 0px;
        margin-left: -25%;
    } */

    #people {
        position: fixed;
        width: 45%;
        left: 30%;
        top: 10px;
    }

    #info {
        width: 4400px;
    }

    #register {
        width: 140px;
        position: fixed;
        /* margin-left: -140px; */
        right: 160px;
        border: none;
    }

    #gallery {
        /* width: 140px;
        position: fixed;
        margin-left: -140px;
        right: 40px;
        border: none; */
    }

    #register-form {
        margin-left: 50%;
    }
}